h1{
    margin-left:  6%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icon{
    margin-left: 3rem;
    border-radius: 50%;
}

.card{
    margin-left: 6%;
    margin-bottom: 1rem;
    background-image: url("https://res.cloudinary.com/merjur/image/upload/v1662074637/birdApp/IMG_20160907_115037_zdizca.jpg") ;
    
   
}

.backcontainer{
   padding-top: 3rem;
   background-image: url("https://res.cloudinary.com/merjur/image/upload/v1662074637/birdApp/IMG_20160907_115037_zdizca.jpg") ;
}

.home{
    background-image: url("https://res.cloudinary.com/merjur/image/upload/v1662075105/birdApp/P1010037_uqo6bb.jpg");
    max-width: 80%;
   margin-top: 3rem;
   margin-left: 8rem;
   color: white;

   
}
.home-text{
    text-align: center;
    font-size: 2rem;
}

.detail-total{
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
   justify-items: center;
   justify-content: space-evenly;
}

.total-detail-container{
    display: flex;
    flex-direction: row;
}

.galery-container{
    display: flex;
    flex-direction: column;
}

.title-galery{
    margin-left: 16rem;
    margin-top: 3rem;
}
.carrusel{
    background-color: aqua;
}


   
    
