<h1>Listado de aves</h1>


<div class="backcontainer row row-cols-4 " >
  {{#each birds as |bird| }}
  
    <div class="card rounded" style="width: 18rem">
      <img
        src="{{bird.image}}"
        class="card-img-top mt-4  "
        style="border-radius: 50%"
        alt="{{bird.name}}"
        width="600"
      />
      <div class="card-body">
        <h3 class="card-title" style="min-height: 8rem">{{bird.name}}</h3>
        
        <a href="/bird/{{bird._id}}" class="btn btn-primary mt-4" style="margin-bottom: 1rem">Ver detalles</a>
      </div>
    </div>
   
  {{/each}}
  </div>

