
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
    >
    <div class="carousel-inner">
      {{#each bird.albums as |image|}}
        <div
          class="carousel-item active"
          style=" margin-left: 8rem"
        >
          <img src="{{image.url}}" class="d-block w-200" alt="{{bird.name}}" style="border-radius: 1rem;" />
        </div>
      {{/each}}

    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previa</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próxima</span>
    </button>
  </div>
</div>