<div class="d-flex flex-column h-100 bg-light">

    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="footer">
                    <p class="small text-muted">Esta web nace a raiz del blog de un aficionado a la observación de aves.</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="https://pajcfotos.blogspot.com/">Fotos de pájaros</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>