<nav class="navbar bg-light navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/merjur/image/upload/v1661797644/birdApp/IMG_5098_shc8ds.jpg" class="icon" alt="icon" width="60" height="48" >
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          {{#if currentUser}}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/birdslist">Listado de Aves</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/profile">Profile</a>
        </li>
        <li class="nav-item ms-2">
            <a class="nav-link btn btn-danger text-white" aria-current="page" href="/logout">Logout</a>
          </li>
            {{else}}
        <li class="nav-item ms-4">
            <a class="nav-link btn btn-secondary text-white" aria-current="page" href="/login">Log-in</a>
        </li>
        <li class="nav-item ms-2">
            <a class="nav-link btn btn-primary text-white" aria-current="page" href="/register">Registro</a>
        </li>
         {{/if}}
      </ul>
    </div>
  </div>
</nav>


  