<nav class="navbar bg-light navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/merjur/image/upload/v1661797644/birdApp/IMG_5098_shc8ds.jpg" alt="" width="30" height="24">
    </a>
  </div>


  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/birdslist">Listado de Aves</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/profile">Profile</a>
          </li>
      </ul>
    </div>
  </div>
</nav>


  