
<!-- Binoculares -->
<!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXVJREFUSEvFlYExxFAQhr+rABWgAlSAClABKkAFqAAVcBWgAlRAB3SACpjvZpN5efcubhKZezOZyWx299/999+XEQOf0cD5WRjAJnAC7ANfwB1wmXS7DJzHd98fgBvgLWek1IEBr8Ba5myC07BdRwGpywewFQXV9hKASa4KszHBeth9Xy34nAGCtwLY5kbH4RtrFzMBpOW9Y/IqzC7tcHJyio6A254AxyGKIoBq2OsJ8BjqKgL89Ew+xUxKkZq//yeAg9iNxgxcpkPgO/QuXS6Zc1F6Sxm4fn7Tz2OB5tBvHN8aAJW2G0OK4NLw6yoT4Mqv3pmUoor/lXwbAbf7M+tg1i1Q+U2+p07SYXt/BVY4bYVIn0U1kj0D28C8FLX5vQA7OYCGp6DH+0g9e9wLh2xFu2Gbx8+Cp+i4iGu4pNZaGaEWFVc6XuvmKS6aRjvRwX+CM7Fd5eeTHhXjI61y7kVn3KTyNoAZhXUzL+yX2a3cQtTgHfwCZ4FMGZtYZp0AAAAASUVORK5CYII="/> -->
<!--Cámara -->
<!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASlJREFUSEvVlcttAjEURQ8NkGxYh3SQDoAOSAdBFJBPA4QGgAYQSBQQqADoICUk+yySLNkQ3ciWLOOxLZlZ4JU19rvn/fymQc2rUbM+OYBrYAvcec68Az3gO+ZkClAlbjWTkBggJZ4FcQFdYAG0C+vyAQyAnXRcgA5uCsWtubRufcAxIr4HZsDa3OkDT0AnYvPvvBtBFWAMvFYI6fuo4iwLIM9VG60JMDT7OfBi9sp1KJIswL1Ji8SfPU+nBqJ0vQWiyALYFP4ATU/kF7gy30LpLQZ8Aa1SQO0pUgE1b9wiH4DVuYosYbWiWjW09DYeS9rU2ioSiW2chyZh28IhRlaRIw81eXQC0Fy3bZe0Tlz4tEPTn6bLMww8iT+Epmmp10H71B+tGHr5gD9nTT8ZfPn3aQAAAABJRU5ErkJggg=="/> -->
<!-- Map -->
<!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPFJREFUSEvtVd0RgjAYC5PoBupGOoluom7kCDqBbqAXr/FC6R8PcD7QJ2jzJekHTTtMPLqJ+TGrwAvAE8AJwLWysz2AY8AU8b6Dt5HeM0IiXkcGcvheiyTwALAKBCqkEToWsWNS+F8HUjvgHJ1y6xKSYZJx/gJAhlL4G4Adi3ICIqTQObwcArHWXCCF/3LXBIhJETXPLwJxmwetW1r0ny3i4fKwqx2oIt4/Mo/3JsogCsWR4JmkE+xh1zMU3wdxBrFQAefPyiQKeGY5ZhAVnsAtYVfDFwU8vOhQTpmipSFjvLy2qV+sUj9+edY7eby9hooPXJxbGRIho98AAAAASUVORK5CYII="/>  -->


<div class="home">

<h1>HOME</h1>

<div class="home-text">
    <p class="p-home-text">
      Esta web nace a raiz de https://pajcfotos.blogspot.com/ con la idea de poder hacer una pequeña red social para compartir fotos de aves 
      entre aficionados que están descubriendo este mundo.
</br>
</br>
      Por eso mismo, la información que se puede encontrar en la página es a nivel amateur.
</br>
</br>
</br>
</br>
</p>
</div>

</div>