
<div class="home">

<h1 style="margin-left: 40%;">Bienvenido Birder</h1>

<div class="home-text">
    <p class="p-home-text">Queremos compartir nuestra afición contigo.</p>
    
    <p>En esta página, podrás tener un perfil con tus fotografías y compartirlas con la comunidad de birders.<br>
    Comenta las que más te gusten, y si avistas una especie que no esté en el catálogo añadela tú mismo.<br>
    Nuestros ornitólogos de confianza, se asegurarán de que todo el material subido esté bien catalogado.</p>

    <p> ¿Preparado?</p>
    <p>¡Ve al listado de aves y empieza a volar!</p>
</div>

</div>