
<!-- Binoculares -->
<!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXVJREFUSEvFlYExxFAQhr+rABWgAlSAClABKkAFqAAVcBWgAlRAB3SACpjvZpN5efcubhKZezOZyWx299/999+XEQOf0cD5WRjAJnAC7ANfwB1wmXS7DJzHd98fgBvgLWek1IEBr8Ba5myC07BdRwGpywewFQXV9hKASa4KszHBeth9Xy34nAGCtwLY5kbH4RtrFzMBpOW9Y/IqzC7tcHJyio6A254AxyGKIoBq2OsJ8BjqKgL89Ew+xUxKkZq//yeAg9iNxgxcpkPgO/QuXS6Zc1F6Sxm4fn7Tz2OB5tBvHN8aAJW2G0OK4NLw6yoT4Mqv3pmUoor/lXwbAbf7M+tg1i1Q+U2+p07SYXt/BVY4bYVIn0U1kj0D28C8FLX5vQA7OYCGp6DH+0g9e9wLh2xFu2Gbx8+Cp+i4iGu4pNZaGaEWFVc6XuvmKS6aRjvRwX+CM7Fd5eeTHhXjI61y7kVn3KTyNoAZhXUzL+yX2a3cQtTgHfwCZ4FMGZtYZp0AAAAASUVORK5CYII="/> -->
<!--Cámara -->
<!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASlJREFUSEvVlcttAjEURQ8NkGxYh3SQDoAOSAdBFJBPA4QGgAYQSBQQqADoICUk+yySLNkQ3ciWLOOxLZlZ4JU19rvn/fymQc2rUbM+OYBrYAvcec68Az3gO+ZkClAlbjWTkBggJZ4FcQFdYAG0C+vyAQyAnXRcgA5uCsWtubRufcAxIr4HZsDa3OkDT0AnYvPvvBtBFWAMvFYI6fuo4iwLIM9VG60JMDT7OfBi9sp1KJIswL1Ji8SfPU+nBqJ0vQWiyALYFP4ATU/kF7gy30LpLQZ8Aa1SQO0pUgE1b9wiH4DVuYosYbWiWjW09DYeS9rU2ioSiW2chyZh28IhRlaRIw81eXQC0Fy3bZe0Tlz4tEPTn6bLMww8iT+Epmmp10H71B+tGHr5gD9nTT8ZfPn3aQAAAABJRU5ErkJggg=="/> -->
<!-- Map -->
<!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPFJREFUSEvtVd0RgjAYC5PoBupGOoluom7kCDqBbqAXr/FC6R8PcD7QJ2jzJekHTTtMPLqJ+TGrwAvAE8AJwLWysz2AY8AU8b6Dt5HeM0IiXkcGcvheiyTwALAKBCqkEToWsWNS+F8HUjvgHJ1y6xKSYZJx/gJAhlL4G4Adi3ICIqTQObwcArHWXCCF/3LXBIhJETXPLwJxmwetW1r0ny3i4fKwqx2oIt4/Mo/3JsogCsWR4JmkE+xh1zMU3wdxBrFQAefPyiQKeGY5ZhAVnsAtYVfDFwU8vOhQTpmipSFjvLy2qV+sUj9+edY7eby9hooPXJxbGRIho98AAAAASUVORK5CYII="/>  -->


<div class="home">

<h1>HOME</h1>

<div class="home-text"style="color: white; ">
    <p class="p-home-text">Lorem fistrum qué dise usteer pupita ahorarr torpedo. La caidita a peich qué dise usteer de la pradera apetecan mamaar </br>
    está la cosa muy malar. No te digo trigo por no llamarte Rodrigor pecador está la cosa muy malar qué dise usteer ahorarr ese que </br>
    llega diodeno. Diodenoo ese pedazo de ahorarr ese hombree. Mamaar no te digo trigo por no llamarte Rodrigor condemor te va a hasé </br>
    pupitaa sexuarl llevame al sircoo te voy a borrar el cerito fistro va usté muy cargadoo. Sexuarl ese pedazo de apetecan benemeritaar </br>
    jarl a peich la caidita diodeno está la cosa muy malar no te digo trigo por no llamarte Rodrigor diodeno.
</br>
</br>
</br>
A wan torpedo por la gloria de mi madre diodenoo te voy a borrar el cerito fistro ahorarr no puedor quietooor ese pedazo de. A gramenawer </br>
tiene musho peligro tiene musho peligro tiene musho peligro a peich ese que llega a peich fistro la caidita hasta luego Lucas. Se calle </br>
 ustée ese pedazo de sexuarl te voy a borrar el cerito está la cosa muy malar me cago en tus muelas diodeno te voy a borrar el cerito. </br>
 Llevame al sircoo ese hombree a peich fistro caballo blanco caballo negroorl a peich. Diodeno te va a hasé pupitaa llevame al sircoo se </br>
 calle ustée no te digo trigo por no llamarte Rodrigor. Diodenoo de la pradera torpedo a gramenawer amatomaa no te digo trigo por no </br>
  llamarte Rodrigor benemeritaar te va a hasé pupitaa.
</br>
</br>
</br>
Amatomaa benemeritaar tiene musho peligro benemeritaar de la pradera ese pedazo de. Te voy a borrar el cerito amatomaa me cago en </br>
tus muelas quietooor a wan condemor al ataquerl. Te va a hasé pupitaa condemor a wan llevame al sircoo ahorarr diodenoo ese pedazo </br>
de diodenoo. Me cago en tus muelas al ataquerl ese pedazo de te va a hasé pupitaa qué dise usteer me cago en tus muelas. Benemeritaar </br>
a gramenawer qué dise usteer jarl qué dise usteer ahorarr al ataquerl. No te digo trigo por no llamarte Rodrigor ahorarr sexuarl pecador</br>
 caballo blanco caballo negroorl por la gloria de mi madre diodeno me cago en tus muelas está la cosa muy malar pupita.</p>
</div>

</div>