<h1>{{err.status}}</h1>
<p>{{err.message}}</p>

<div class="col-md-6 align-self-center">
        <h1>404</h1>
        <h2>Pío! Pío! Estás perdido.</h2>
        <p>La página que buscas no existe.
          Cómo has volado hasta aquí es un mimsterio. Pero puedes picotear el botón y volver al inicio.
        </p>
        <button class="btn green">Inicio</button>
</div>
