<div class="row justify-content-center mt-4">
  <div class="col col-sm-8 col-md-6 col-lg-4">
    <h1 class="my-4">{{album.bird.name}}</h1>
    <form
      action="/albums/{{album._id}}/addPhoto"
      method="POST"
      class=""
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="formFile" class="form-label">Añade foto</label>
        <input class="form-control" type="file" id="formFile" name="image" />
        {{#if error}}<div
            class="text-danger text-center mb-2"
          >{{error}}</div>{{/if}}
      </div>
      <div class="input-group mb-2">
        <button
          type="submit"
          class="btn btn-primary bg-light-green border-0"
        >Añadir</button>
      </div>
      <s style="text-decoration: none;">* Todo el material subido, será revisado
        por el administrador.</s>
    </form>
  </div>
</div>