{{!formulario de album de foticos}}
<div class="row justify-content-center mt-4">
  <div class="col col-sm-8 col-md-6 col-lg-4">
    <h1 class="my-4">Nuevo Album</h1>

    <form action="/albums/albumCreate" method="post" class=""enctype="multipart/form-data">
      
      <div class="input-group mb-2">
        <input
          type="text"
          name="bird"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="bird"
          aria-label="bird"
          value="{{ bird.name }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
     
     <div class="mb-3">
        <label for="formFile" class="form-label">Añade foto</label>
        <input class="form-control" type="file" id="formFile" name="image">
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
     </div>
      <div class="input-group mb-2">
        <button type="submit" class="btn btn-primary bg-light-green border-0">Añadir</button>
      </div>
      <s style="text-decoration: none;">* Todo el material subido, será revisado por el administrador.</s>
    </form>
  </div>
</div>