
<h1>caca</h1>

  <a href="/photos/photoCreate"
     class="btn btn-primary bg-light-green border-0"
     >Añade una foto</a>


{{#each albums as |album|}}

    <div class="card rounded" style="width: 18 rem">
        <img src="{{album.bird.url}}"
        class="card-img-top mt-4  rounded-circle"
        alt=“{{album.bird.name}}”
        width="600"
      />
      <div class="card-body">
        <h3 class="card-title">{{bird.name}}</h3>



    </div>


{{/each}}