
<h1>Detalle del álbum</h1>

  

<div class="backcontainer row row-cols-4">

{{#each photos as |photo| }}

    <p>existe!</p>

    <div class="card rounded" style="width: 18rem;">

        <img src="{{photo.url}}"
        class="card-img-top mt-4  "
        alt="{{photo._id}}"
        width="600"
      />
    </div>


{{/each}}
</div>

<a href="/photos/photoCreate"
     class="btn btn-primary bg-light-green border-0"
     >Añade una foto</a>

